<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up for VCNow</title>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <form action="/signup" method="POST">
        <div>
            <h2>Sign Up for VCNow</h2>
            <label for="email">Email:</label>
            <input type="email" name="email" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" name="password" required><br><br>
            
            <button type="submit">Sign Up</button>
            <br><br>
            
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>    
</body>
</html>
